{% extends 'RecursosFinancieros/nuevos_aspirantes.twig.html' %}

{%block table%}
<!-- Tabla de datos -->
<div class="table-responsive">
    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th data-column-id="id" data-visible="false" data-sortable="false">id</th>
                <th data-column-id="numero_solicitud" data-sortable="false">Número de
                    Solicitud</th>
                <th data-column-id="nombre" data-sortable="false">Nombre</th>
                <th data-column-id="email" data-searchable="false" data-sortable="false">
                    Correo electronico</th>
                <th data-column-id="estatus_pago" data-searchable="false" data-formatter="button_status">Estado de pago
                </th>
                <!-- Otros encabezados de columna -->
            </tr>
        </thead>
        <tbody>
            {% for aspirante in aspirantesTodos%}
            <tr>
                <td>{{ aspirante.id}}</td>
                <td>{{ aspirante.noSolicitude }}</td>
                <td>{{ aspirante.name }}</td>
                <td>{{ aspirante.email }}</td>
                <td>{{ aspirante.status_pago }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}