{% extends "Layout/Template/recursos_financieros.twig.html" %}

{% block title %} Nuevos aspirantes {% endblock %}

{% block styles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css"
    integrity="sha512-WBBdLBZSQGm9JN1Yut45Y9ijfFANbcOX3G+/A5+oO8W2ZWASp3NkPrG8mgr8QvGviyLoAz8y09l7SJ1dt0as7g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .custom-height {
        min-height: 25vh;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.082);
    }

    .custom-button {
        min-width: 17vh;
    }

    /* Estilo para la barra de búsqueda */
    .actionBar {
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    /* Estilo para el campo de entrada de búsqueda */
    .search-field input[type="text"] {
        flex-grow: 1;
        border: none;
        padding: 5px;
        outline: none;
    }

    .dropdown-toggle {
        visibility: hidden;
    }

    .pagination {
        display: flex;
        align-items: center;
        /* Alinea verticalmente los elementos dentro del contenedor de paginación */
    }

    /* Estilo para los botones de paginación */
    .button {
        margin-right: 5px;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Estilo para el botón de página activa */
    .active {
        background-color: #0056b3;
    }
</style>


{% endblock %}

{% block content %}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div>
        <div class="row">

            <div class="col-lg-4 col-md-6" bis_skin_checked="1">
                <div class="card custom-height" bis_skin_checked="1">
                    <div class="card-body d-grid align-items-center" bis_skin_checked="1">
                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                            <div class="bg-info text-white rounded p-3" bis_skin_checked="1">
                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20px" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                                    </path>
                                </svg>
                            </div>
                            <div class="text-end" bis_skin_checked="1">
                                <h2 class="counter" style="visibility: visible;">{{numTotalAsp}}</h2>
                                Total de aspirantes
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" bis_skin_checked="1">
                <div class="card custom-height" bis_skin_checked="1">
                    <div class="card-body d-grid align-items-center" bis_skin_checked="1">
                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                            <div class="bg-soft-success rounded p-3" bis_skin_checked="1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                    <g id="Grupo_155" data-name="Grupo 155" transform="translate(-1151 -3704)">
                                        <path id="Trazado_40" data-name="Trazado 40"
                                            d="M11,15a4,4,0,1,0-4-4A4,4,0,0,0,11,15Zm5-4a5,5,0,1,1-5-5A5,5,0,0,1,16,11Z"
                                            transform="translate(1151 3704)" fill-rule="evenodd" />
                                        <path id="Trazado_42" data-name="Trazado 42"
                                            d="M1,0A1,1,0,0,0,0,1V9a1,1,0,0,0,1,1H5.083a6.062,6.062,0,0,1,.258-1H3A2,2,0,0,0,1,7V3A2,2,0,0,0,3,1H13a2,2,0,0,0,2,2V6.528a6.02,6.02,0,0,1,1,1.154V1a1,1,0,0,0-1-1Z"
                                            transform="translate(1151 3704)" />
                                        <path id="Trazado_43" data-name="Trazado 43"
                                            d="M10,5.083,10,5A2,2,0,1,0,6.868,6.65,5.982,5.982,0,0,1,10,5.083Z"
                                            transform="translate(1151 3704)" />
                                        <path id="check"
                                            d="M8.847,4.906a.519.519,0,0,1,.74.726L6.828,9.084a.519.519,0,0,1-.747.014L4.25,7.268a.519.519,0,1,1,.733-.733L6.432,7.982l2.4-3.061.014-.015Z"
                                            transform="translate(1155.096 3707.994)" />
                                    </g>
                                </svg>
                            </div>
                            <div class="text-end" bis_skin_checked="1">
                                <h2 class="counter" style="visibility: visible;">{{numAspPaymentPaid}}</h2>
                                Pagados
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="text-center">{{percent}}%</div>
                            <div class="progress bg-soft-info shadow-none w-100" style="height: 6px">
                                <div class="progress-bar bg-info" data-toggle="progress-bar" role="progressbar"
                                    aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" bis_skin_checked="1">
                <div class="card custom-height" bis_skin_checked="1">
                    <div class="card-body d-grid align-items-center" bis_skin_checked="1">
                        <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                            <div class="bg-soft-danger rounded p-3" bis_skin_checked="1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                    <g id="Grupo_156" data-name="Grupo 156" transform="translate(-1132 -3704)">
                                        <path id="Trazado_47" data-name="Trazado 47"
                                            d="M7,9.32a.617.617,0,1,1,.617.617A.617.617,0,0,1,7,9.32Zm.061-3.708a.559.559,0,1,1,1.111,0L7.958,7.778a.341.341,0,0,1-.679,0Z"
                                            transform="translate(1135.378 3707.505)" />
                                        <path id="Trazado_44" data-name="Trazado 44"
                                            d="M11,15a4,4,0,1,0-4-4A4,4,0,0,0,11,15Zm5-4a5,5,0,1,1-5-5A5,5,0,0,1,16,11Z"
                                            transform="translate(1132 3704)" fill-rule="evenodd" />
                                        <path id="Trazado_45" data-name="Trazado 45"
                                            d="M1,0A1,1,0,0,0,0,1V9a1,1,0,0,0,1,1H5.083a6.062,6.062,0,0,1,.258-1H3A2,2,0,0,0,1,7V3A2,2,0,0,0,3,1H13a2,2,0,0,0,2,2V6.528a6.02,6.02,0,0,1,1,1.154V1a1,1,0,0,0-1-1Z"
                                            transform="translate(1132 3704)" />
                                        <path id="Trazado_46" data-name="Trazado 46"
                                            d="M10,5.083,10,5A2,2,0,1,0,6.868,6.65,5.982,5.982,0,0,1,10,5.083Z"
                                            transform="translate(1132 3704)" />
                                    </g>
                                </svg>
                            </div>
                            <div class="text-end" bis_skin_checked="1">
                                <h2 class="counter" style="visibility: visible;">{{numAspPaymentPending}}</h2>
                                Faltantes por pagar
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!-- Tarjeta de Aspirantes que han hecho su pago-->
    <div class="conatiner-fluid ">
        <div>
            <div class="row">

                <div class="col-lg-12">
                    <div class="card" style="border-radius: 10px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.082);">
                        <div class="card-body">
                            <h5 class="card-title">Lista de aspirantes</h5>
                            <!-- Barra de búsqueda y filtro -->
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="d-flex">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="estadoPago">Filtrar por Estado de Pago:</label>
                                <select id="estadoPago" class="form-control">
                                    <option value="todos">Todos</option>
                                    <option value="pagados">Pagados</option>
                                    <option value="pendientes">Pendientes</option>
                                </select>
                            </div>

                            <!-- Tabla de datos -->
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th data-column-id="id" data-identifier="true" data-visible="false"
                                                data-sortable="false">id</th>
                                            <th data-column-id="noSolicitude" data-sortable="false">Número de
                                                Solicitud</th>
                                            <th data-column-id="name" data-sortable="false">Nombre</th>
                                            <th data-column-id="email" data-searchable="false" data-sortable="false">
                                                Correo electronico</th>
                                            <th data-column-id="status_pago" data-searchable="false"
                                                data-formatter="button_status">Estado de pago
                                            </th>
                                            <!-- Otros encabezados de columna -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for aspirante in aspirantesTodos%}
                                        <tr data-row-id="{{ aspirante.id}}">
                                            <td>{{ aspirante.id}}</td>
                                            <td>{{ aspirante.noSolicitude }}</td>
                                            <td>{{ aspirante.name }}</td>
                                            <td>{{ aspirante.email }}</td>
                                            <td>{{ aspirante.status_pago }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}

    {% block script %}

    <script src="{{ base_url('Js/RecursosFinancieros/RecursosFinancieros.js')}}" type="module"></script>



    <!-- JQuery -->
    <script src="{{base_url('Vendor/Parsley/jquery-3.7.0.min.js')}}"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootgrid -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"
        integrity="sha512-ut+jq2MDKjyWKK7rpEbyHjJ2kDBDO58DLFw4xJobqvS2kUgx4DJbj3OLjwk4F0pKtcxUoUIRS6esQVhh4fmWNA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function mostrarConfirmacion(user_id, status_pago) {
            Swal.fire({
                title: 'Cambiar el estado de pago',
                text: '¿Seguro/a que quiere cambiar el estado de pago?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Cambiar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // 0 = Pendiente
                    // 1 = Pagado
                    nuevo_estado = status_pago === '1' ? '0' : status_pago === 'true' ? '0' : '1';
                    cambiarEstado(user_id, nuevo_estado);
                }
            });
        }
    </script>

    <script>
        var $tabla;
        var aspirantesTodos = {{ aspirantesTodos| json_encode | raw}};
        var aspirantesPago = {{ aspirantesPago| json_encode | raw }};
        var aspirantesNoPago = {{ aspirantesNoPago| json_encode | raw }};

        function cambiarEstado(user_id, status_pago) {
            // Realiza una llamada AJAX para actualizar el estado de pago en el servidor
            console.log(status_pago);
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '{{base_url("aspirantes/change-status-payment")}}',
                data: {
                    'idAspirante': user_id,
                    'status': status_pago
                },
                success: function (response) {
                    if (response.success) {
                        var estadoPagoSelect = $('#estadoPago').val();
                        switch (estadoPagoSelect) {
                            case 'todos':
                                var btn = $('.btn[data-user-id="' + user_id + '"]');
                                var aspirante;
                                aspirantesTodos.forEach(element => {
                                    if (element.id == user_id) {
                                        aspirante = element;
                                    }
                                });
                                if (status_pago === '0') {
                                    btn.removeClass('btn-success').addClass('btn-warning').text('Pendiente');
                                    aspirantesPago.splice(aspirantesPago.indexOf(aspirante), 1);
                                    aspirante.status_pago = false;
                                    aspirantesNoPago.unshift(aspirante);
                                } else {
                                    btn.removeClass('btn-warning').addClass('btn-success').text('Pagado');
                                    aspirantesNoPago.splice(aspirantesNoPago.indexOf(aspirante), 1);
                                    aspirante.status_pago = true;
                                    aspirantesPago.unshift(aspirante);
                                }
                                $tabla.bootgrid('clear');
                                $tabla.bootgrid('append', aspirantesTodos);
                                Swal.fire('¡Listo!', 'El estado de pago ha sido cambiado.', 'success');

                                break;
                            case 'pagados':
                                var aspirante;
                                aspirantesPago.forEach(element => {
                                    if (element.id == user_id) {
                                        aspirante = element;
                                    }
                                });
                                aspirantesPago.splice(aspirantesPago.indexOf(aspirante), 1);
                                aspirante.status_pago = false;
                                aspirantesNoPago.unshift(aspirante);

                                $tabla.bootgrid('clear');
                                $tabla.bootgrid('append', aspirantesPago);
                                Swal.fire('¡Listo!', 'El estado de pago ha sido cambiado.', 'success');
                                break;
                            case 'pendientes':
                                var aspirante;
                                aspirantesNoPago.forEach(element => {
                                    if (element.id == user_id) {
                                        aspirante = element;
                                    }
                                });
                                aspirantesNoPago.splice(aspirantesNoPago.indexOf(aspirante), 1);
                                aspirante.status_pago = true;
                                aspirantesPago.unshift(aspirante);

                                $tabla.bootgrid('clear');
                                $tabla.bootgrid('append', aspirantesNoPago);
                                Swal.fire('¡Listo!', 'El estado de pago ha sido cambiado.', 'success');
                                break;
                            default:
                                break;
                        }
                    } else {
                        Swal.fire('Error', 'Hubo un problema al cambiar el estado de pago.', 'error');
                    }
                },
                error: function () {
                    Swal.fire('Error', 'Hubo un problema', 'error');
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            var estadoPagoSelect = $('#estadoPago');


            $tabla = $("#datatable").bootgrid({
                caseSensitive: false,
                ajax: false, // Desactivamos la solicitud AJAX
                labels: {
                    noResults: "No hay resultados",
                    loading: "Cargando...",
                    infos: "Mostrando {{ ctx.start }} al {{ '{{ctx.end}}'}} de {{ '{{ctx.total}}'}} registros",
                    search: "Buscar",
                    refresh: "Recarga",

                },
                pagination: true,
                rowCount: 10,
                sort: true,
                filter: true,
                searchSettings: {
                    delay: 100,
                    characters: 3,
                    searchOnEnterKey: true,
                    searchOnKeyPress: true,
                },
                formatters: {
                    'button_status': function (col, row) {
                        const estado = row.status_pago;
                        return `
                    <button
                        class="custom-button btn ${estado ? 'btn-success' : 'btn-warning'}"
                        data-user-id="${row.id}" 
                        onclick="mostrarConfirmacion('${row.id}','${estado}')">
                        ${estado ? 'Pagado' : 'Pendiente'}
                    </button>`
                    }
                },
            });

            estadoPagoSelect.on('change', function () {
                var estadoPago = estadoPagoSelect.val();
                // Actualizar los datos de la tabla según el estado de pago seleccionado
                if (estadoPago === 'todos') {
                    $tabla.bootgrid('clear');
                    $tabla.bootgrid('append', aspirantesTodos);
                } else if (estadoPago === 'pagados') {
                    $tabla.bootgrid('clear');
                    $tabla.bootgrid('append', aspirantesPago);
                } else if (estadoPago === 'pendientes') {
                    $tabla.bootgrid('clear');
                    $tabla.bootgrid('append', aspirantesNoPago);
                }

            });

        });
    </script>
    {% endblock %}