<!-- Sección donde se pide la información personal del aspirante -->
<fieldset>
    <div class="card-body" style="border-radius: 10px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);">
        <div class="form-card text-start">
            <div class="row">
                <div class="col-7">
                    <h3 class="mb-4">INFORMACIÓN DEL ASPIRANTE:</h3>
                </div>
                <div class="col-5"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Selecciona una imagen: </label>
                    <br>
                    <div class="form-group text-center">
                        <img src="{{base_url('Vendor/Template/assets/images/avatars/avtar_4.png')}}" id="preview"
                            class="img-thumbnail" style="height: 120px; width: 120px; border-radius: 70px;">
                    </div>
                    <div class="form-group">
                        <input type="file" name="foto" class="file" data-parsley-type="image/*" accept="image/*"
                            required>
                        <div class="input-group my-3">
                            <input type="text" class="form-control" disabled placeholder="Cargar imagen" id="file"
                                required>
                            <div class="input-group-append">
                                <button type="button" class="browse btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-danger">Esta imagen será utilizada para tu
                        identificación oficial del instituto.</h6>
                    <br>
                    <div class="form-group">
                        <label class="form-label">CURP: *</label>
                        <input type="text" class="form-control upper-case" name="curp" placeholder="LOXA880921HMCLNR05"
                            data-validation="curp" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Apellido paterno: *</label>
                        <input type="text" class="form-control upper-case" name="apellidoPaterno"
                            data-validation="fullName" placeholder="PEREZ" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Apellido materno: *</label>
                        <input type="text" class="form-control upper-case" name="apellidoMaterno"
                            data-validation="fullName" placeholder="LÓPEZ" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Nombre(s): *</label>
                        <input id="name" class="form-control upper-case" name="nombre" placeholder="JUAN"
                            data-validation="fullName" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Fecha de nacimiento: *</label>
                        <input type="date" class="form-control" name="fechaNacimiento" placeholder="03/05/2005"
                            data-validation="birthdate" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Género: *</label>
                        <select class="form-select" name="genero" id="exampleFormControlSelect1">
                            <option selected="" disabled=""></option>
                            <option selected>MASCULINO</option>
                            <option>FEMENINO</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Estado civil: *</label>
                        <select class="form-select" name="estadoCivil" id="exampleFormControlSelect1">
                            {% for estadoCivil in estadoCivil %}
                            <option value="{{ estadoCivil['id_estado_civil'] }}">
                                {{ estadoCivil['estado_civil'] | upper }}
                            </option>

                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">País de nacimiento: *</label>
                        <select class="form-select" name="paisNacimiento" id="countrySelect">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Teléfono: *</label>
                        <input type="text" class="form-control" name="tel" placeholder="3923451289"
                            data-validation="phone" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Correo electrónico: *</label>
                        <input type="text" class="form-control" name="correo" id="email" placeholder="ejemplo@gmail.com"
                            data-validation="emailB" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Confirmar correo: *</label>
                        <input type="text" class="form-control" name="confirmCorreo" placeholder="ejemplo@gmail.com"
                            data-parsley-equalto="#email" data-parsley-trigger="keyup"
                            data-parsley-error-message="Los correos electrónicos no coinciden." required />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card-body" style="border-radius: 10px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);">
        <div class="form-card text-start">
            <div class="row">
                <div class="col-7">
                    <h3 class="mb-4">DOMICILIO ACTUAL:</h3>
                </div>
                <div class="col-5"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Estado: *</label>
                        <select type="text" class="form-select upper-case" name="estadoResidencia" placeholder="JALISCO"
                            id="estado">
                        </select>

                    </div>
                    <div class="form-group">
                        <label class="form-label">Calle: *</label>
                        <input type="text" class="form-control upper-case" name="calle" placeholder="LÓPEZ MATEOS"
                            data-validation="calle" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Número exterior: *</label>
                        <input type="text" class="form-control upper-case" name="numExterior" placeholder="80"
                            data-validation="num" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Letra exterior: </label>
                        <input type="text" class="form-control upper-case" name="letraInterior" placeholder="A"
                            data-validation="oneLetter" data-parsley-pattern="^[a-zA]{1,4}$"
                            data-parsley-error-message="Solo pueden ingresar hasta cuatro letras" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Municipio: *</label>
                        <select type="text" class="form-select upper-case" name="municipioResidencia" id="municipio"
                            placeholder="OCOTLÁN">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Colonia: *</label>
                        <input type="text" class="form-control upper-case" name="colonia" placeholder="LA PRIMAVERA"
                            id="colonia" data-validation="col" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Número interior: </label>
                        <input type="text" class="form-control upper-case" name="numInterior" placeholder="80"
                            data-validation="num" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Letra interior: </label>
                        <input type="text" class="form-control upper-case" name="letraExterior" placeholder="A"
                            data-validation="oneLetter" data-parsley-pattern="^[a-zA]{1,4}$"
                            data-parsley-error-message="Solo pueden ingresar hasta cuatro letras" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Código postal: *</label>
                        <input type="text" class="form-control upper-case" name="cp" placeholder="47829"
                            data-validation="cp" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Entre calles: *</label>
                        <input type="text" class="form-control upper-case" name="entreCalles"
                            placeholder="LIMÓN Y TABACHIN" data-validation="entreCalles" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card-body" style="border-radius: 10px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);">
        <div class="form-card text-start">
            <div class="row">
                <div class="col-7">
                    <h3 class="mb-4">DATOS COMPLEMENTARIOS:</h3>
                </div>
                <div class="col-5"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Padre o tutor: *</label>
                        <input type="text" class="form-control upper-case" name="nombreTutor" placeholder="JUAN PABLO"
                            data-validation="fullName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Tipo de sangre: *</label>
                        <select type="text" class="form-select upper-case" name="tipoSangre" placeholder="O-">
                            {% for tipoSangre in tiposSangre %}
                            <option value="{{ tipoSangre['id_tipo_sangre'] }}">
                                {{ tipoSangre['tipo'] }}
                            </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Teléfono de contacto del tutor:
                            *</label>
                        <input type="text" class="form-control upper-case" name="telTutor" placeholder="3921232143"
                            data-validation="phone" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Estado de procedencia: *</label>
                        <select type="text" class="form-select upper-case" name="estadoProcedencia"
                            id="estadoProcedencia" placeholder="JALISCO">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">¿Tiene alguna discapacidad?:
                        </label>
                        <input type="text" class="form-control upper-case" name="discapacidad" placeholder="PARAPLEJÍA"
                            data-validation="discapacidad" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">¿Pertenece a una comunidad
                            indígena?:</label>
                        <select class="form-select upper-case" name="comunidadIndigena" id="exampleFormControlSelect1">
                            {% for comunidadIndigena in comunidadesIndigenas %}
                            <option value="{{ comunidadIndigena['id_comunidad_indigena'] }}">
                                {{ comunidadIndigena['comunidad']|upper }}
                            </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">¿Habla alguna lengua
                            indígena?:</label>
                        <select class="form-select" name="lenguaIndigena" id="exampleFormControlSelect1">
                            {% for lenguaIndigena in lenguasIndigenas %}
                            <option value="{{ lenguaIndigena['id_lengua_indigena'] }}">
                                {{ lenguaIndigena['lengua']|upper }}
                            </option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card-body" style="border-radius: 10px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);">
        <div class="form-card text-start">
            <div class="row">
                <div class="col-7">
                    <h3 class="mb-4">ESCUELA DE PROCEDENCIA:</h3>
                </div>
                <div class="col-5"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Estado: *</label>
                        <select type="text" class="form-select upper-case" name="estadoEscuela" placeholder="JALISCO"
                            id="estadoEscuela">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Municipio: *</label>
                        <select type="text" class="form-select upper-case" name="municipioEscuela" placeholder="OCOTLÁN"
                            id="municipioEscuela">

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Nombre de la escuela: *</label>
                        <input type="text" class="form-control upper-case" name="nombreEscuela" placeholder="CBTIS 49"
                            data-validation="entreCalles" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Año de egreso: *</label>
                        <input type="text" id="anioEgreso" class="form-control upper-case" name="anoEgreso"
                            placeholder="2024" data-validation="egreso" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Promedio general: *</label>
                        <input type="text" class="form-control upper-case" name="promedio" placeholder="90"
                            data-validation="promedio" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="button" name="next" class="btn btn-primary next action-button float-end" value="Next">
        Siguiente
    </button>
</fieldset>