{% extends 'Layout/base.twig.html' %}


{% block styles %}

<link rel="stylesheet" href="{{base_url('Css/Reticulas/HerramientaReticulas/reticulas.css')}}">
<link rel="stylesheet"
    href="{{base_url('Css/Reticulas/HerramientaSeleccionarMaterias/herramienta-seleccionar-materias.css')}}">

<style>
    /* Utilidades */
    .hidden {
        display: none;
    }
</style>

{% endblock %}

{% block body %}

<main class="container-fluid bg-dark vh-100">
    <div id="reticula" class="bg-dark">
    </div>
</main>

{% endblock %}


{% block script %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="module" src="{{base_url('Js/Reticulas/test/reticulas.js')}}"></script>

{% endblock %}