{% extends 'Layout/base.twig.html' %}


{% block styles %}

<style>
    .reticula {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 0.1rem;
        margin-top: 2rem;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        min-height: 100%;
    }

    .item {
        height: 5rem;
        width: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        position: relative;
    }

    .add-semestre {
        background-color: none;
        transition: background-color 0.2s ease;
    }

    .add-semestre:hover {
        background-color: gray;
    }

    .icon {
        width: 1.6rem;
        height: 1.6rem;
    }

    .icon-add-materia {
        fill: #fff;
    }

    .container-action-materia {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: absolute;
    }

    .icon-action-materia {
        width: 2rem;
        height: 2rem;
        fill: #fff;
        cursor: pointer;
        padding: 0.4rem;
        border-radius: 50%;
        z-index: 3;
        transition: background-color ease-in 0.2s, width ease-in 0.2s, height ease-in 0.2s;
    }

    .icon-action-materia:hover {
        width: 2.2rem;
        height: 2.2rem;
    }

    .materia:hover>.container-action-materia {
        display: flex;
    }

    .icon-update-materia {
        background-color: rgba(43, 114, 207, 0.8);
    }

    .icon-update-materia:hover {
        background-color: rgb(43, 114, 207);
    }

    .icon-delete-materia {
        background-color: rgba(134, 16, 16, 0.8);
    }

    .icon-delete-materia:hover {
        background-color: rgb(134, 16, 16);
    }

    .icon-delete-semestre {
        cursor: pointer;
        width: 2.3rem;
        height: 2.3rem;
        padding: 0.4rem;
        border-radius: 50%;
        fill: #fff;
        background-color: rgb(134, 16, 16);
        display: none;
        z-index: 2;
        position: absolute;
        /* Centrar el elemento horizontalmente */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background-color ease-in 0.2s, width ease-in 0.2s, height ease-in 0.2s;
    }

    .icon-delete-semestre:hover {
        background-color: red;
        width: 2.5rem;
        height: 2.5rem;
    }

    .add-semestre-icon {
        fill: rgba(255, 255, 255, 0.3);
    }

    .add-semestre:hover>.add-semestre-icon {
        fill: rgb(26, 26, 26);
    }


    .title {
        z-index: 1;
        background-color: rgb(19, 80, 173);
    }

    .title:hover {
        background-color: rgb(37, 61, 97);
    }

    .title:hover>.icon-delete-semestre {
        display: block;
    }

    .icon-delete-semestre:hover>.title {
        filter: blur(3px);
    }

    .materia {
        z-index: 1;
        background-color: gray;
        padding: 0.3rem;
        text-align: center;
        font-size: 0.75rem;
        overflow: hidden;
    }

    .materia:hover {
        border: 2px solid blue;
    }


    /* css para el modal */

    .custom-swal-modal {
        /* Establece una altura fija para el modal */
        height: 96vh;
    }

    .custom-swal-actions {
        width: 100%;
        padding-right: 2rem;
        display: flex;
        justify-content: flex-end;
    }

    .container-modal {
        padding: 0.5rem;
    }

    .container-modal-filters {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.3rem;
    }

    .container-modal-filters-search-icon {
        width: 1.2rem;
        height: 1.2rem;
        fill: #000;
    }

    .container-modal-containers-materias {
        margin-top: 1rem;
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .container-modal-materias {
        flex: 1;

        background: #F4F5F7 0% 0% no-repeat padding-box;
        border-radius: 0.7rem;
        padding: 1rem 0.8rem;

        max-height: 22rem;
        min-height: 22rem;
        overflow: auto;
    }

    .item-materia {
        cursor: grab;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 0.4rem;
        width: 100%;

        margin-top: 0.8rem;
        padding: 1rem;
    }

    .item-materia:hover {
        background-color: rgba(39, 39, 39, 0.8);
    }

    .item-materia:hover>.item-materia-name {
        color: #fff;
    }

    .item-materia:hover>.item-materia-icon {
        fill: #fff;
    }

    .available {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .selected {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

    .item-materia-name {
        font-size: 1.1rem;
    }

    .item-materia-icon {
        width: 2.3rem;
        height: 2.3rem;
        fill: #000;
        background-color: none;
        padding: 0.5rem;
        border-radius: 1.2rem;
        cursor: pointer;
        transition: background-color ease 0.2s;
    }

    .item-materia-icon:hover {
        background-color: #000;
    }


    .container-title {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.3rem;
    }

    .container-title-text-title {
        padding-left: 1.5rem;
        font-size: 1.2rem;
    }

    .container-title-icon-title {
        width: 1.3rem;
        height: 1.3rem;
        fill: #000;
    }

    /* Utilidades */
    .hidden {
        display: none;
    }
</style>

{% endblock %}

{% block body %}

<main class="container-fluid bg-dark vh-100">
    <div id="reticula" class="bg-dark">
    </div>
</main>

{% endblock %}


{% block script %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="module" src="{{base_url('Js/Reticulas/reticulas.js')}}"></script>

{% endblock %}