{% extends "Layout/base.twig.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
   <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/button.css')}}" />
   <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/switches.css')}}" />
   <link rel="stylesheet" href="{{base_url('Vendor/Parsley/parsley.css')}}">
   <style>

      .iq-navbar-header {
         height: 260px;
         /* Altura predeterminada para pantallas más grandes */
      }
      .colum {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
               -ms-flex: 0 0 auto;
                     flex: 0 0 auto;
            width: 33.33333333%;
      }

      @media (max-width: 1400px) {
  
          /* Modifica la clase para pantallas más pequeñas con un ancho máximo de 520px */
          .container-fluid .iq-container {
              height: 150px;
          }
          .colum {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
               -ms-flex: 0 0 auto;
                     flex: 0 0 auto;
            width: 41.66666667%;
          }
      }

      @media (max-width: 1000px) {
  
      .iq-navbar-header {
      height: 160px;
      /* Altura predeterminada para pantallas más grandes */
      }
      .colum {
         -webkit-box-flex: 0;
         -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
         width: 58.33333333%;
         }
      }

      @media (max-width: 767px) {
  
         .iq-navbar-header {
         height: 160px;
         /* Altura predeterminada para pantallas más grandes */
         }
         .colum {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
               -ms-flex: 0 0 auto;
                     flex: 0 0 auto;
            width: 100%;
          }
      }
  </style>
{% endblock %}

{% block body %}
<main class="main-content">
   <div class="position-relative iq-banner">
       <div class="iq-navbar-header">
           <div class="container-fluid iq-container">
               <div class="row">
                   <div class="col">
                        <div>
                           <div class="d-flex align-items-center justify-content-between">
                              <div class="d-none d-md-block" style="width: 290px;"><img class="img-fluid" src="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/tecnologiconacionamexico.png')}}" alt="" style="width: 290px; height: 180px;"></div>
                              <div class="text-center" ><h1>INSTITUTO TECNOLÓGICO DE OCOTLÁN</h1></div>
                              <div class="d-none d-md-block" style="width: 290px;"><img class="img-fluid" src="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/logotecocotlan.png')}}" alt="" style="width: 220px; height: 200px;"></div>
                           </div>
                        </div>
                   </div>
               </div>
           </div>
           <div class="iq-header-img">
               <img src="{{base_url('Vendor/Template/assets/images/dashboard/top-header.png')}}" alt="header"
                   class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX" />
               <img src="{{base_url('Vendor/Template/assets/images/dashboard/top-header1.png')}}" alt="header"
                   class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX" />
               <img src="{{base_url('Vendor/Template/assets/images/dashboard/top-header2.png')}}" alt="header"
                   class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX" />
               <img src="{{base_url('Vendor/Template/assets/images/dashboard/top-header3.png')}}" alt="header"
                   class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX" />
               <img src="{{base_url('Vendor/Template/assets/images/dashboard/top-header6.png')}}" alt="header"
                   class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX" />
               <img src="{{base_url('Vendor/Template/assets/images/dashboard/top-header5.png')}}" alt="header"
                   class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX" />
           </div>
       </div>
       <div class="conatiner-fluid content-inner mt-n5 py-0">
           <div>
            <section class="login-content">
                     <div class="row justify-content-center align-items-center">
                        <div class="colum" id="rresponsive-column">
                           <div class="card">
                              <div class="card-body" style="border-radius: 10px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);">
                                 <br>
                                 <a href="#" class="navbar-brand d-flex align-items-center mb-3 justify-content-center">
                                    <!--Logo start-->
                                    <!--logo End-->
                                    <!--Logo start-->
                                    <div class="logo-main">
                                       <div class="logo-normal">
                                          <img class="icon-40"
                                             src="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/correcaminosicono.svg')}}"
                                             alt="" style="width: 90px; height: 80px;">
                                       </div>
                                       <div class="logo-mini">
                                          <img class="icon-40"
                                             src="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/correcaminosicono.svg')}}"
                                             alt="" style="width: 90px; height: 80px;">
                                       </div>
                                    </div>
                                    <!--logo End-->
                                 </a>
                                 <br>
                                 <h2 class="mb-2 text-center">Iniciar Sesión</h2>
                                 <form id="form-login" action="{{base_url('auth/sing-in')}}" enctype="multipart/form-data"
                                    method="post">
                                    <div class="row">
                                       <div class="col-lg-12">
                                          <div class="form-group">
                                             <label for="email" class="form-label">Correo electrónico</label>
                                             <input type="email" name="email" class="form-control" id="email"
                                                aria-describedby="email" placeholder=" " data-validation="email">
                                          </div>
                                       </div>
                                       <div class="col-lg-12">
                                          <div class="form-group">
                                             <label for="password" class="form-label">Contraseña</label>
                                             <input type="password" name="password" class="form-control" id="password"
                                                aria-describedby="password" placeholder=" " data-validation="password">
                                          </div>
                                       </div>
                                       <div class="col-lg-12 d-flex justify-content-between">
                                          <div class="form-check mb-3">
                                             <input type="checkbox" class="form-check-input" id="customCheck1">
                                             <label class="form-check-label" for="customCheck1">Recuerdame</label>
                                          </div>
                                          <a href="#">¿Olvidaste tu contraseña?</a>
                                       </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                       <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                    </div>
                                    <br>
                                    <p class="text-center my-3">Síguenos en nuestras redes sociales</p>
                                    <div class="d-flex justify-content-center">
                                       <ul class="list-group list-group-horizontal list-group-flush">
                                          <li class="list-group-item border-0 pb-0">
                                             <a href="https://www.facebook.com/InstitutoTecnologicodeOcotlan"><img
                                                   src="{{base_url('Vendor/Template/assets/images/brands/fb.svg')}}"
                                                   alt="fb"></a>
                                          </li>
                                          <li class="list-group-item border-0 pb-0">
                                             <a href="https://www.instagram.com/tecnmcampusocotlan/#"><img
                                                   src="{{base_url('Vendor/Template/assets/images/brands/im.svg')}}"
                                                   alt="im"></a>
                                          </li>
                                          <li class="list-group-item border-0 pb-0">
                                             <a href="https://www.linkedin.com/in/tecnm-campus-ocotl%C3%A1n-ito-a7b163214/"><img
                                                   src="{{base_url('Vendor/Template/assets/images/brands/li.svg')}}"
                                                   alt="im"></a>
                                          </li>
                                       </ul>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-center">
                                       <a href="{{ base_url('aspirantes/loginup') }}"
                                          class="btn buttonanimate justify-content-center btn-primary">Inscríbete a la
                                          Institución <i class="ri-arrow-right-line"></i></a>
                                    </div>
                                    <br>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
            </section>
           </div>
       </div>
   </div>
</main>
{% endblock %}


{% block script %}

<!-- JQuery -->
<script src="{{base_url('Vendor/Parsley/jquery-3.7.0.min.js')}}"></script>

<!-- Parsley.js -->
<script src="{{base_url('Vendor/Parsley/parsley.min.js')}}"></script>

<!-- Validaciones personalizadas -->
<script src="{{base_url('Vendor/Parsley/validations.js')}}"></script>

<!-- Modo oscuro -->
<script>
   const switchInput = document.getElementById('checkbox');
   const bodyElement = document.body;
   switchInput.addEventListener('change', function () {
      if (this.checked) {
         // Modo oscuro activado
         bodyElement.classList.remove('light');
         bodyElement.classList.add('dark');
         console.log('Switch activado');
      } else {
         // Modo claro activado
         bodyElement.classList.remove('dark');
         bodyElement.classList.add('light');
         console.log('Switch desactivado');
      }
   });
</script>

<!-- Validaciones -->
<script>
   $(document).ready(function () {
      // Llamar a la función para aplicar las validaciones genéricas 
      customValidation();

      // Inicializar Parsley en el formulario
      $('#form-login').parsley();

      // Manejar el evento de envío del formulario
      $('#form-login').on('submit', function (event) {
         event.preventDefault(); // Evitar el envío del formulario si hay errores
         if ($('#form-login').parsley().isValid()) {
            alert('Formulario válido. Se puede enviar.');
         } else {
            alert('Formulario inválido. Por favor, revisa los campos.');
         }
      });
   });
   </script>

   <script>
      window.addEventListener('resize', function() {
         const responsiveColumn = document.getElementById('responsive-column');
         const windowWidth = window.innerWidth;

         // Lógica para cambiar la clase basándote en el tamaño de la pantalla
         if (windowWidth >= 500 && windowWidth < 1500) {
            responsiveColumn.classList.remove('col-md-4');
            responsiveColumn.classList.add('col-md-6');
         } else {
        responsiveColumn.classList.remove('col-md-4', 'col-md-6');
        responsiveColumn.classList.add('col-md-4');
    }
      });
   </script>

   <!-- Validaciones -->
   <script>
      $(document).ready(function () {
         // Llamar a la función para aplicar las validaciones genéricas 
         customValidation();

         // Inicializar Parsley en el formulario
         $('#form-login').parsley();

         // Manejar el evento de envío del formulario
         $('#form-login').on('submit', function (event) {
            event.preventDefault(); // Evitar el envío del formulario si hay errores
            if ($('#form-login').parsley().isValid()) {
               alert('Formulario válido. Se puede enviar.');
            } else {
               alert('Formulario inválido. Por favor, revisa los campos.');
            }
         });
      });
   </script>

{% endblock %}