{% extends "Layout/base.twig.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
   <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/button.css')}}" />
   <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/switches.css')}}" />
   <link rel="stylesheet" href="{{base_url('Vendor/Parsley/parsley.css')}}">
{% endblock %}

{% block body %}
   <div class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
      <div class="wrapper">
         <section class="login-content">
            <div class="row m-0 align-items-center bg-white vh-100">
               <div class="col-md-6">
                  <div class="row justify-content-center">
                     <div class="col-md-10">
                        <div class="card card-transparent shadow-none d-flex justify-content-center mb-0 auth-card">
                           <div class="card-body">
                              <div class="row">
                                 <div class="d-flex align-items-center justify-content-end ">
                                    <a class="" data-value="theme-color-yellow" data-info="#6410F1"
                                       data-setting="color-mode1" data-name="color" data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="" data-bs-original-title="Tema amarrillo">
                                       <svg class="customizer-btn icon-32" xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 24 24" width="32">
                                          <circle cx="12" cy="12" r="10" fill="#FAC601" />
                                          <path d="M2,12 a1,1 1 1,0 20,0" fill="#6410F1" />
                                       </svg>
                                    </a>
                                    <a class="" data-value="theme-color-default" data-info="#025196"
                                       data-setting="color-mode1" data-name="color" data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="" data-bs-original-title="Tema azul">
                                       <svg class="customizer-btn icon-32" xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 24 24" width="32">
                                          <circle cx="12" cy="12" r="10" fill="#025196" />
                                          <path d="M2,12 a1,1 1 1,0 20,0" fill="#6410F1" />
                                       </svg>
                                    </a>
                                    <label role="button" for="checkbox" class="switch">
                                       <input type="checkbox" id="checkbox" />
                                       <span class="switch__ball bg-primary"></span>
                                       <i class="ri-sun-line switch__sun" data-setting="color-mode" data-name="color"
                                          data-value="light"></i>
                                       <i class="ri-moon-line switch__moon" data-setting="color-mode" data-name="color"
                                          data-value="dark"></i>
                                    </label>
                                 </div>
                              </div>
                              <a href="#" class="navbar-brand d-flex align-items-center mb-3">
                                 <!--Logo start-->
                                 <!--logo End-->

                                 <!--Logo start-->
                                 <div class="logo-main">
                                    <div class="logo-normal">
                                       <img class="icon-40"
                                          src="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/correcaminosicono.svg')}}"
                                          alt="" style="width: 70px; height: 60px;">
                                    </div>
                                    <div class="logo-mini">
                                       <img class="icon-40"
                                          src="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/correcaminosicono.svg')}}"
                                          alt="" style="width: 70px; height: 60px;">
                                    </div>
                                 </div>
                                 <!--logo End-->

                                 <h4 class="logo-title ms-3">Tec Ocotlán</h4>
                              </a>
                              <h2 class="mb-2 text-center">Iniciar Sesión</h2>
                              <form id="form-login" action="{{base_url('auth/sing-in')}}" enctype="multipart/form-data"
                                 method="post">
                                 <div class="row">
                                    <div class="col-lg-12">
                                       <div class="form-group">
                                          <label for="email" class="form-label">Correo electronico</label>
                                          <input type="email" name="email" class="form-control" id="email"
                                             aria-describedby="email" placeholder=" " data-validation="email">
                                       </div>
                                    </div>
                                    <div class="col-lg-12">
                                       <div class="form-group">
                                          <label for="password" class="form-label">Password</label>
                                          <input type="password" name="password" class="form-control" id="password"
                                             aria-describedby="password" placeholder=" " data-validation="password">
                                       </div>
                                    </div>
                                    <div class="col-lg-12 d-flex justify-content-between">
                                       <div class="form-check mb-3">
                                          <input type="checkbox" class="form-check-input" id="customCheck1">
                                          <label class="form-check-label" for="customCheck1">Recuerdame</label>
                                       </div>
                                       <a href="#">¿Olvidaste tu contraseña?</a>
                                    </div>
                                 </div>
                                 <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                 </div>
                                 <p class="text-center my-3">Síguenos en nuestras redes sociales</p>
                                 <div class="d-flex justify-content-center">
                                    <ul class="list-group list-group-horizontal list-group-flush">
                                       <li class="list-group-item border-0 pb-0">
                                          <a href="https://www.facebook.com/InstitutoTecnologicodeOcotlan"><img
                                                src="{{base_url('Vendor/Template/assets/images/brands/fb.svg')}}"
                                                alt="fb"></a>
                                       </li>
                                       <li class="list-group-item border-0 pb-0">
                                          <a href="https://www.instagram.com/tecnmcampusocotlan/#"><img
                                                src="{{base_url('Vendor/Template/assets/images/brands/im.svg')}}"
                                                alt="im"></a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="d-flex justify-content-center">
                                    <a href="{{ base_url('aspirantes/loginup') }}"
                                       class="btn buttonanimate justify-content-center btn-primary">Inscríbete a la
                                       Institución <i class="ri-arrow-right-line"></i></a>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 d-md-block d-none bg-primary p-0 mt-n1 vh-100 overflow-hidden">
                  <img src="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/logolineastec.svg')}}"
                     class="img-fluid gradient-main animated-scaleX p-5 " alt="images">
               </div>
            </div>
         </section>
      </div>
   </div>
{% endblock %}


{% block script %}

   <!-- JQuery -->
   <script src="{{base_url('Vendor/Parsley/jquery-3.7.0.min.js')}}"></script>

   <!-- Parsley.js -->
   <script src="{{base_url('Vendor/Parsley/parsley.min.js')}}"></script>

   <!-- Validaciones personalizadas -->
   <script src="{{base_url('Vendor/Parsley/validations.js')}}"></script>

   <!-- Modo oscuro -->
   <script>
      const switchInput = document.getElementById('checkbox');
      const bodyElement = document.body;

      switchInput.addEventListener('change', function () {
         if (this.checked) {
            // Modo oscuro activado
            bodyElement.classList.remove('light');
            bodyElement.classList.add('dark');
            console.log('Switch activado');
         } else {
            // Modo claro activado
            bodyElement.classList.remove('dark');
            bodyElement.classList.add('light');
            console.log('Switch desactivado');
         }
      });
   </script>

   <!-- Validaciones -->
   <script>
      $(document).ready(function () {
         // Llamar a la función para aplicar las validaciones genéricas 
         customValidation();

         // Inicializar Parsley en el formulario
         $('#form-login').parsley();

         // Manejar el evento de envío del formulario
         $('#form-login').on('submit', function (event) {
            event.preventDefault(); // Evitar el envío del formulario si hay errores
            if ($('#form-login').parsley().isValid()) {
               alert('Formulario válido. Se puede enviar.');
            } else {
               alert('Formulario inválido. Por favor, revisa los campos.');
            }
         });
      });
   </script>

{% endblock %}