{% extends "Correos/base_email.twig.html" %}

{% block head %}
{{parent()}}
{% endblock %}

{% block user_info %}
<div class="text-md-end text-center pt-5">
    <h6>Instituto Tecnológico de Ocotlán</h6>
</div>
<div class="text-center pt-5">
    <h4><strong> FICHA DEL ASPIRANTE </strong></h4>
</div>

<div class="d-flex justify-content-around align-items-center flex-wrap gap-3 pt-5">
    <div class="">

        <div class="d-flex flex-wrap pb-2 justify-content-md-start justify-content-center">
            <h6 class="text-dark"><strong>Nombre del aspirante: </strong></h6>
            <h6 class="text-gray ps-2">{{ aspirante.nombre }} {{ aspirante.apellidoPaterno }} {{
                aspirante.apellidoMaterno }}</h6>
        </div>

        <div class="d-flex pb-2 justify-content-md-start justify-content-center">
            <h6 class="text-dark"><strong>Numero de solicitud: </strong></h6>
            <h6 class="text-gray ps-2">{{ aspirante.noSolicitude }}</h6>
        </div>

        <div class="d-flex pb-2 justify-content-md-start justify-content-center">
            <h6 class="text-dark"><strong>NIP: </strong></h6>
            <h6 class="text-gray ps-2">{{ aspirante.nip }}</h6>
        </div>

    </div>
    <div class="text-center">
        <img src="{{ base_url(aspirante.foto) }}" alt="" class="img-fluid p-2 rounded-circle"
            style="width: 150px; height: 150px;">
    </div>
</div>
{% endblock%}

{% block content %}
<div class="pt-5">
    <p class="text-dark" style="text-align: justify;">
        Estimado {{ aspirante.nombre }} {{ aspirante.apellidoPaterno }}
        {{ aspirante.apellidoMaterno }}, Nos complace enormemente felicitarte por haber
        tomado el paso valiente y determinante de inscribirte como aspirante a
        la carrera de {{ aspirante.carrera }} en el Instituto Tecnológico de Ocotlán para
        el año {{ aspirante.anoIngreso }}. Tu compromiso con la educación y tu deseo de
        perseguir una formación superior en esta área tan crucial son
        admirables. <br />
        Te alentamos a que sigas comprometido con tus objetivos educativos y a
        que aproveches al máximo todas las oportunidades que te ofrece el
        Instituto Tecnológico de Ocotlán. Estamos seguros de que tu dedicación y
        esfuerzo te llevarán a alcanzar grandes logros en tu trayectoria
        académica y en tu futura carrera. <br />Una vez más, enhorabuena por dar
        este importante paso en tu camino hacia la excelencia educativa en el
        campo de la ingeniería. Te deseamos todo el éxito en tu proceso de
        admisión y esperamos verte prosperar en esta nueva etapa de tu vida.
    </p>
    <div class="pt-5">
        <h5 class="pb-1">ATENTAMENTE</h5>
        <h6 class="pb-1">Excelencia en Educación Tecnológica</h6>
        <h6 class="fw-lighter">"Unidos con Espiritu de Triunfo y Tecnológica Propia"</h6>
    </div>
</div>
{% endblock %}

{% block social_media %}
<div class="text-center pt-5">
    <h6 class="pt-3">Únete al grupo de WhatsApp</h6>
    <a href="https://www.google.com/">
        <img src="{{base_url('Vendor/Template/assets/images/brands/qr.png')}}" alt="" class="img-fluid p-1"
            style="height: 170px; width: auto;"></a>
</div>
{{parent()}}
{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}