{% extends "Layout/Template/servicios_escolares.twig.html" %}

{% block title %} Lista carreras {% endblock %}

{% block styles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css"
   integrity="sha512-WBBdLBZSQGm9JN1Yut45Y9ijfFANbcOX3G+/A5+oO8W2ZWASp3NkPrG8mgr8QvGviyLoAz8y09l7SJ1dt0as7g=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
   .custom-height {
      min-height: 25vh;
      border-radius: 10px;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.082);
   }

   .formCarrer {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
   }

   .custom-button {
      min-width: 17vh;
   }

   /* Estilo para la barra de búsqueda */
   .actionBar {
      display: flex;
      align-items: center;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
   }

   /* Estilo para el campo de entrada de búsqueda */
   .search-field input[type="text"] {
      flex-grow: 1;
      border: none;
      padding: 5px;
      outline: none;
   }

   .dropdown-toggle {
      visibility: hidden;
   }

   .pagination {
      display: flex;
      align-items: center;
      /* Alinea verticalmente los elementos dentro del contenedor de paginación */
   }

   /* Estilo para los botones de paginación */
   .button {
      margin-right: 5px;
      padding: 5px 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
   }

   /* Estilo para el botón de página activa */
   .active {
      background-color: #0056b3;
   }

   .my-actions {
      margin: 0 2em;
   }

   .order-1 {
      order: 1;
   }

   .order-2 {
      order: 2;
      background-color: #00FF00;
      color: #fff;
   }

   .order-3 {
      order: 3;
   }

   .right-gap {
      margin-right: auto;
   }
</style>


{% endblock %}

{% block content %}

<div class="conatiner-fluid content-inner mt-n5 py-0 ">
   <div>
      <div class="row">

      </div>
      <!-- Tarjeta de Aspirantes que han hecho su pago-->

      <div class="row">
         <div class="col-sm-12">
            <div class="card" style="border-radius: 10px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.082);">
               <div class="card-body">
                  <h5 class="card-title">Lista de carreras</h5>
                  <!-- Barra de búsqueda y filtro -->
                  <div class="container">
                     <div class="row justify-content-between">
                        <div class="col-md-4">
                           <select id="estadoFilter" class="form-select">
                              <option value="1">Borrador</option>
                              <option value="2">Activo</option>
                              <option value="3">Inactivo</option>

                           </select>
                        </div>
                        <div class="col-md-3 align-self-end">
                           <button class="btn btn-primary" onclick="formCarrera()">Crear Carrera</button>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive">
                     <!-- Tabla de datos -->

                     <table id="datatable" class="table table-striped">
                        <thead>
                           <tr>
                              <th data-column-id="id_carrera" data-identifier="true" data-visible="false">id</th>
                              <th data-column-id="clave_carrera" data-sortable="false">Clave</th>
                              <th data-column-id="nombre_carrera">Nombre</th>
                              <th data-column-id="estatus" data-searchable="false" data-sortable="false"
                                 data-formatter="button_status">
                                 Estatus</th>
                           </tr>
                        </thead>
                        <tbody></tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
<!-- JQuery -->
<script src="{{base_url('Vendor/Parsley/jquery-3.7.0.min.js')}}"></script>

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Bootgrid -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"
   integrity="sha512-ut+jq2MDKjyWKK7rpEbyHjJ2kDBDO58DLFw4xJobqvS2kUgx4DJbj3OLjwk4F0pKtcxUoUIRS6esQVhh4fmWNA=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
   const formulario = '<div class="d-flex flex-column justify-content-center align-items-center">' +
      '<div class="d-flex form-row justify-content-center">' +
      '<div class="col-md-10 mb-3">' +


      '<label for="clave">Clave</label>' +
      '<input type="text" class="form-control" id="clave" name="clave" required>' +
      '<br>' +


      '<label for="nombre">Nombre</label>' +
      '<input type="text" class="form-control" id="nombreForm" name="nombre" required>' +
      '<br>' +


      '<label for="nivel">Nivel Escolar</label>' +
      '<select class="form-select" id="nivel" name="nivel" required>' +
      '<option value="1">Licenciatura</option>' +
      '<option value="2">Maestría</option>' +
      '</select>' +
      '<br>' +


      '<label for="fechaInicio">Fecha de Inicio</label>' +
      '<input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>' +
      '<br>' +


      '</div>' +
      '</div>' +
      ' </div>';
   function formCarrera() {
      (async () => {
         const { value: formValues } = await Swal.fire({
            title: 'Crear carrera',
            icon: 'info',
            html: formulario,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Crear',
            cancelButtonText: 'Cancelar',
            preConfirm: () => {
               const claveValue = document.getElementById('clave').value;
               const nombreValue = document.getElementById('nombreForm').value;
               const nivelValue = document.getElementById('nivel').value;
               const fechaInicioValue = document.getElementById('fechaInicio').value;

               //ToDO: Validaciones Parsley

               if (claveValue === "" || nombreValue === "" || nivelValue === "" || fechaInicioValue === "") {
                  Swal.showValidationMessage('Todos los campos son obligatorios');
               }

               return [claveValue, nombreValue, nivelValue, fechaInicioValue];
            }

         });
         if (formValues) {
            $.ajax({
               type: 'POST',
               dataType: 'json',
               url: '{{base_url("reticulas/carreras/create")}}',
               data: {
                  'nombre_carrera': formValues[1],
                  'clave_carrera': formValues[0],
                  'id_nivel_escolar': formValues[2],
                  'fecha_inicio': formValues[3],
               },
               success: function (response) {
                  Swal.fire('¡Listo!', 'La carrera ha sido agregada', 'success');
                  $('#datatable').bootgrid('reload');
               },
               error: function (error) {
                  Swal.fire('Error', 'Hubo un problema', 'error');
               }

            });

         }

      })()
   }

   function mostrarConfirmacion(id) {
      Swal.fire({
         title: '¿Estás seguro?',
         text: "¡No podrás revertir esto!",
         icon: 'warning',
         showCancelButton: true,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',
         confirmButtonText: 'Sí, desactivar',
         cancelButtonText: 'Cancelar'
      }).then((result) => {
         if (result.isConfirmed) {
            $.ajax({
               type: 'POST',
               dataType: 'json',
               url: '{{base_url("reticulas/carreras/inactivate")}}',
               data: {
                  'id_carrera': id,
               },
               success: function (response) {
                  if (response.success) {
                     Swal.fire('Carrera desactivada!', 'La carrera ha sido desactivada correctamente.', 'success');

                     $('#datatable').bootgrid('reload');
                  } else {
                     Swal.fire('¡Error!', 'La carrera no se ha podido desactivar' + error.responseText, 'error');
                  }

               },
               error: function (error) {
                  console.error("Datos no enviados" + error.responseText)
               }
            });
         }
      })

   }
   function editar(id) {
      $.ajax({
         type: 'GET',
         dataType: 'json',
         url: '{{base_url("reticulas/carreras/get/")}}' + id,
         data: {
            'id': id,
         },
         success: function (response) {
            const responseData = response.data;
            const fechaInicioFormateada = new Date(responseData.fecha_inicio).toISOString().split('T')[0];

            (async () => {
               const { value: formValues } = await Swal.fire({
                  title: 'Editar carrera',
                  icon: 'info',
                  html: formulario,
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Guardar',
                  cancelButtonText: 'Cancelar',
                  didOpen: () => {
                     // Llena los campos del formulario después de que se muestre el modal
                     document.getElementById('clave').value = responseData.clave_carrera;
                     document.getElementById('nombreForm').value = responseData.nombre_carrera;
                     document.getElementById('nivel').value = responseData.id_nivel_escolar;
                     document.getElementById('fechaInicio').value = fechaInicioFormateada;
                  },
                  preConfirm: () => {
                     const claveValue = document.getElementById('clave').value;
                     const nombreValue = document.getElementById('nombreForm').value;
                     const nivelValue = document.getElementById('nivel').value;
                     const fechaInicioValue = document.getElementById('fechaInicio').value;

                     //ToDO: Validaciones Parsley

                     if (claveValue === "" || nombreValue === "" || nivelValue === "" || fechaInicioValue === "") {
                        Swal.showValidationMessage('Todos los campos son obligatorios');
                     }

                     return [claveValue, nombreValue, nivelValue, fechaInicioValue];
                  }

               })
               if (formValues) {
                  $.ajax({
                     type: 'POST',
                     dataType: 'json',
                     url: '{{base_url("reticulas/carreras/update")}}',
                     data: {
                        'id_carrera': id,
                        'nombre_carrera': formValues[1],
                        'clave_carrera': formValues[0],
                        'id_nivel_escolar': formValues[2],
                        'fecha_inicio': formValues[3],
                     },
                     success: function (response) {
                        Swal.fire('¡Listo!', 'La carrera ha sido editada', 'success');
                        $('#datatable').bootgrid('reload');
                     },
                     error: function (error) {
                        Swal.fire('Error', 'Hubo un problema: ' + error.responseText, 'error');
                        console.log(error);
                     }

                  });

               }


            })()

         },
         error: function (error, response) {
            Swal.fire('Error', 'Hubo un problema: ' + error.responseText, 'error');
            console.log(error);
         }
      });
   }
   function eliminar(id) {
      Swal.fire({
         title: '¿Estás seguro?',
         text: "¡No podrás revertir esto!",
         icon: 'warning',
         showCancelButton: true,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',

         confirmButtonText: 'Sí, eliminar',
         cancelButtonText: 'Cancelar'
      }).then((result) => {
         if (result.isConfirmed) {
            $.ajax({
               type: 'POST',
               dataType: 'json',
               url: '{{base_url("reticulas/carreras/delete")}}',
               data: {
                  'id': id,
               },
               success: function (response) {
                  if (response.success) {
                     Swal.fire('¡Carrera eliminada!', 'La carrera ha sido eliminada correctamente.', 'success');

                     $('#datatable').bootgrid('reload');
                  } else {
                     Swal.fire('¡Error!', 'La carrera no ha sido eliminada.', 'error');
                  }

               },
               error: function (error) {
                  console.error("Datos no enviados" + error.responseText)
               }
            });
         }
      })
   }

   function Guardar(id, formValues) {

   }
</script>


<script>
   $(document).ready(function () {
      $('#estadoFilter').on('change', function () {
         var selectedEstado = $(this).val();
         $tabla.bootgrid('reload', {
            estadoFilter: selectedEstado
         });
      });
      var $tabla = $("#datatable").bootgrid({
         caseSensitive: false,
         ajax: true, // Desactivamos la solicitud AJAX
         post: function () {
            // To populate your AJAX request data, if needed
            return {
               current: $('#datatable').bootgrid('getCurrentPage'), // Current page number
               rowCount: 10, // Number of rows per page
               searchPhrase: $('#datatable').bootgrid('getSearchPhrase'),
               selectedEstado: $('#estadoFilter').val() // Get the selected value from the <select> // Get the search phrase
            };
         },
         url: '{{base_url("reticulas/carreras/upt-records")}}',
         labels: {
            noResults: "No hay resultados",
            loading: "Cargando...",
            infos: "Mostrando {{ctx.start}} al {{'{{ctx.end}}'}} de {{'{{ctx.total}}'}} registros",
            search: "Buscar",
            refresh: "Recarga",

         },
         pagination: true,
         rowCount: 10,
         searchSettings: {
            delay: 100,
            characters: 3,
            searchOnEnterKey: true,
            searchOnKeyPress: true,
         },
         formatters: {
            'button_status': function (col, row) {
               const estado = row.estatus;

               let buttonHTML = '';

               switch (estado) {
                  case '1':
                     buttonHTML = `
                     <a class="btn btn-primary" onclick="editar(${row.id_carrera})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                       <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                       <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                     </svg></a>
                        <a class="btn btn-danger" onclick="eliminar(${row.id_carrera})"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                       <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                     </svg></a>
                     `
                     break;
                  case '2':
                     buttonHTML = `
                     <button  class="custom-button btn btn-success"  data-user-id="${row.id_carrera}" onclick="mostrarConfirmacion('${row.id_carrera}')">Activo</button>
                     `;
                     break;
                  case '3':
                     buttonHTML = `
                      <button class="custom-button btn btn-warning" data-user-id="${row.id_carrera}" >Inactivo</button>
                     `;
                     break;
                  case '4':
                     buttonHTML = `
                     <button class="custom-button btn btn-secondary" data-user-id="${row.id_carrera}">Historial</button>
                     `;
                     break;
                  default:
                     buttonHTML = '';
               }

               return buttonHTML;
            }
         },
      });
   });

</script>
{% endblock %}