{% extends "Layout/Template/servicios_escolares.twig.html" %}

{% block title %} Reticulas {% endblock %}

{% block styles %}

<style>
    .btns-change-status {
        width: 7.2rem;
        font-size: 1rem;
    }

    .label-status {
        width: 5.5rem;
        height: 2.3rem;
        border-radius: 10px;
        font-size: 1rem;
    }

    .name-reticula {
        font-size: 1rem;
    }
</style>

{% endblock %}

{% block content %}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">

        <div class="col-lg-12">
            <!-- TODO: Agregar un boton para volver a la pantalla anterior -->
            <div class="card">
                <div class="card-body mx-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>LISTA DE RETICULAS</h4>
                        <button id="guardar" type="button" class="btn btn-primary ms-3" data-bs-toggle="modal"
                            data-bs-target="#crearReticula">Crear reticula</button>
                    </div>
                    <div class="list-group pt-4" id="listReticulas">

                        {% for reticula in reticulas %}
                        <a href="{{base_url('reticulas/show/')}}{{reticula.id_reticula}}"
                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between gap-2">
                            {% if reticula.estatus != 4 %}
                            <div class="w-50 name-reticula">
                                {{ reticula.nombre_reticula }}
                            </div>

                            {% if reticula.estatus == 1 %}
                            <div class="w-50 d-flex align-items-center justify-content-end flex-wrap gap-2">

                                <div
                                    class="bg-secondary p-2 d-flex align-items-center justify-content-center label-status">
                                    <h6 class="text-white">Borrador</h6>
                                </div>

                                <button type="button" class="btn btn-danger btns-change-status" name="btnChangeStatus"
                                    data-id-reticula="{{reticula.id_reticula}}"
                                    data-name-reticula="{{reticula.nombre_reticula}}" data-estatus-reticula="Borrador">
                                    Eliminar
                                </button>
                            </div>
                            {% endif %}

                            {% if reticula.estatus == 2 %}
                            <div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
                                <div
                                    class="bg-success p-2 d-flex align-items-center justify-content-center label-status">
                                    <h6 class="text-white">Activo</h6>
                                </div>
                                <button type="button" class="btn btn-warning btns-change-status" name="btnChangeStatus"
                                    data-id-reticula="{{reticula.id_reticula}}"
                                    data-name-reticula="{{reticula.nombre_reticula}}" data-estatus-reticula="Activo">
                                    Inactivar
                                </button>
                            </div>
                            {% endif %}

                            {% if reticula.estatus == 3 %}
                            <div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
                                <div
                                    class="bg-warning p-2 d-flex align-items-center justify-content-center label-status">
                                    <h6 class="text-white">Inactivo</h6>
                                </div>
                                <button type="button" class="btn btn-dark btns-change-status" name="btnChangeStatus"
                                    data-id-reticula="{{reticula.id_reticula}}"
                                    data-name-reticula="{{reticula.nombre_reticula}}" data-estatus-reticula="Inactivo">
                                    Historial
                                </button>
                            </div>
                            {% endif %}
                            {% endif %}
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>


        <div class="modal fade" id="crearReticula" tabindex="-1" aria-labelledby="crearReticulaLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearReticulaLabel">Crear nueva reticula</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-5">

                        <!-- Nombre de la reticula -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="name" class="form-label h6">Nombre de la reticula</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                                <div class="d-none text-danger ps-3 pt-1" id="validationName">Error</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="selectEspecialidad" class="form-label h6">Especialidades</label>
                                <select class="form-select" id="selectEspecialidad" name="selectEspecialidad" required>
                                    <!-- Evaluamos si hay especialidades -->
                                    {% if especialidades is empty %}
                                    <option value="-1">
                                        No hay especilidades nuevas creadas
                                    </option>
                                    {% else %}
                                    <!-- Si sí hay especialidades  -->
                                    {% for esp in especialidades %}
                                    <option value="{{esp.id_especialidad}}">
                                        {{ esp.nombre_especialidad }}
                                    </option>
                                    {% endfor %}

                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <!-- Si no existen reticulas no mostramos las opciones para crear una reticulas a partir de otra -->
                        {% set showOptions = '' %}

                        {% if reticulas is empty %}
                        {% set showOptions = 'd-none' %}
                        {% endif %}

                        <div id="optionsCreateReticula" class="{{ showOptions }}">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h6>¿Desea utilizar una reticula antigua?</h6>
                                    <div class="d-flex gap-3 mt-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="reticulaAntigua"
                                                id="reticulaAntiguaSi">
                                            <label class="form-check-label" for="reticulaAntiguaSi">
                                                Si
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="reticulaAntigua"
                                                id="reticulaAntiguaNo" checked>
                                            <label class="form-check-label" for="reticulaAntiguaNo">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="reticulaSi" style="display: none;">
                                <div class="col-12">

                                    <select class="form-select mt-2" id="selectReticula" name="selectReticula" required>
                                        {% for reticula in reticulas %}
                                        <option value="{{ reticula.id_reticula }}">{{ reticula.nombre_reticula }}
                                        </option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="createButton">Crear</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Variables globales
    const idCarrera = '{{idCarrera | raw}}';
    const jsonDataReticulas = '{{reticulas|json_encode|raw}}';

</script>

<script type="module" src="{{base_url('Js/Reticulas/reticula-carrera.js')}}"></script>

{% endblock %}