<!doctype html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block head %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon"
    href="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/correcaminosicono.svg')}}" />

  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/core/libs.min.css')}}" />

  <!-- Hope Ui Design System Css -->
  <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/hope-ui.css')}}" />

  <!-- Custom Css -->
  <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/custom.css')}}" />

  <!-- Dark Css -->
  <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/dark.min.css')}}" />

  <!-- Customizer Css -->
  <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/customizer.css')}}" />

  <!-- RTL Css -->
  <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/rtl.min.css')}}" />
  
  {% block styles %}{% endblock %}

</head>

<body>

  <!-- loader Start -->
  <div id="loading">
    <div class="loader simple-loader">
      <div class="loader-body"></div>
    </div>
  </div>
  <!-- loader END -->


  {% block body %}{% endblock %}

  
  {% include "Include/_settings.twig.html" %}


  <!-- Library Bundle Script -->
  <script src="{{base_url('Vendor/Template/assets/js/core/libs.min.js')}}"></script>

  <!-- External Library Bundle Script -->
  <script src="{{base_url('Vendor/Template/assets/js/core/external.min.js')}}"></script>

  <!-- Widgetchart Script -->
  <script src="{{base_url('Vendor/Template/assets/js/charts/widgetcharts.js')}}"></script>

  <!-- mapchart Script -->
  <script src="{{base_url('Vendor/Template/assets/js/charts/vectore-chart.js')}}"></script>

  <script src="{{base_url('Vendor/Template/assets/js/charts/dashboard.js')}}"></script>

  <!-- fslightbox Script -->
  <script src="{{base_url('Vendor/Template/assets/js/plugins/fslightbox.js')}}"></script>

  <!-- Settings Script -->
  <script src="{{base_url('Vendor/Template/assets/js/plugins/setting.js')}}"></script>

  <!-- Slider-tab Script -->
  <script src="{{base_url('Vendor/Template/assets/js/plugins/slider-tabs.js')}}"></script>

  <!-- Form Wizard Script -->
  <script src="{{base_url('Vendor/Template/assets/js/plugins/form-wizard.js')}}"></script>

  <!-- AOS Animation Plugin-->

  <!-- App Script -->
  <script src="{{base_url('Vendor/Template/assets/js/hope-ui.js')}}" defer></script>

  {% block script %} {% endblock %}
</body>

</html>