<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>500</title>

    <!-- Favicon -->
    <link rel="shortcut icon"
        href="{{base_url('Vendor/Template/assets/images/imagenescorrecaminos/correcaminosicono.svg')}}" />

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/hope-ui.css')}}" />


    <!-- Customizer Css -->
    <link rel="stylesheet" href="{{base_url('Vendor/Template/assets/css/customizer.css')}}" />


</head>

<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->

    <div class="wrapper">
        <div class="container-fluid p-0">
            <div class="iq-maintenance text-center">
                <img src="{{base_url('Vendor/Template/assets/images/errorcorrecaminos.png')}}"
                    class="img-fluid mb-2 p-2" alt="">
                <div class="maintenance-bottom text-white pb-0">

                    <div class="bg-primary" style="background: transparent; height: 280px;">
                        <div class="gradient-bottom">
                            <div class="bottom-text general-zindex">
                                <h1 class="mb-2 text-white pb-1">Upps! sucedió algo inesperado...</h1>
                                <p class="pb-2">No pasará mucho tiempo hasta que se solucione el error.</p>
                                <div class="w-50 mx-auto mt-2">
                                    <div class="input-group search-input search-input pb-3">
                                        <input type="text" class="form-control" placeholder="Escribe tu problema">
                                        <a href="#" class="btn bg-white text-primary ms-2 rounded">Notificame</a>
                                    </div>
                                </div>
                            </div>
                            <div class="c xl-circle">
                                <div class="c lg-circle">
                                    <div class="c md-circle">
                                        <div class="c sm-circle">
                                            <div class="c xs-circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Library Bundle Script  -->
    <script src="{{base_url('Vendor/Template/assets/js/core/libs.min.js')}}"></script>


    <!-- App Script -->
    <script src="{{base_url('Vendor/Template/assets/js/hope-ui.js')}}"></script>

</body>

</html>