<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="Vendor/Template/assets/css/hope-ui.css" />

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
    </style>

</head>

<body class="container-fluid p-0 m-0 w-100" style="font-family: Inter;">

    <div class=" d-flex">

        <img src="Vendor/Template/assets/images/imagenescorrecaminos/tecnologiconacionalmexico.png" class="img-fluid"
            style="height: 90px; width: 270px; margin-top: 15px;">

        <img src="Vendor/Template/assets/images/imagenescorrecaminos/logosecretariaeducacionpublica.png"
            class="img-fluid" style="height: 100px; width: 290px; margin-left: 20px;">

        <img src="Vendor/Template/assets/images/imagenescorrecaminos/logotecocotlan.png" class="img-fluid"
            style="height: 100px; width: 100px; margin-left: 5px;">

    </div>

    <h6 class="text-end pt-2">Instituto Tecnológico de Ocotlán</h6>

    <h3 class="text-center pt-4"><strong> FICHA DEL ASPIRANTE </strong></h3>

    <table class="table pt-3">
        <tr>
            <td class="w-75">
                <div class="text-dark">
                    <strong>Nombre del aspirante:</strong>
                    <span class="text-gray ps-1">{{fullName}}</span>
                </div>

                <div class="text-dark mt-2">
                    <strong>CURP:</strong>
                    <span class="text-gray ps-1">{{curp}}</span>
                </div>

                <div class="text-dark mt-2">
                    <strong>Numero de solicitud:</strong>
                    <span class="text-gray ps-1">{{noSolicitude}}</span>
                </div>

                <div class="text-dark mt-2">
                    <strong>NIP:</strong>
                    <span class="text-gray ps-1">{{nip}}</span>
                </div>

                <div class="text-dark mt-2">
                    <strong>Opción de carrera:</strong>
                    <span class="text-gray ps-1">{{firstOption}}</span>
                </div>
            </td>
            <td class="w-25">
                <img src="{{pathPhoto}}" class="img-fluid rounded-circle w-75">
            </td>
        </tr>
    </table>

    <div class="pt-3">
        <p class="text-dark" style="text-align: justify;">Nos complace enormemente felicitarlo por haber tomado el
            paso valiente y determinante de inscribirse como aspirante al Instituto Tecnológico de Ocotlán. Su
            compromiso con la educación y su deseo de perseguir una formación superior son admirables.</p>
        <p class="text-dark" style="text-align: justify;">Le alentamos a que siga comprometido con sus objetivos
            educativos y a que aproveche al máximo todas las oportunidades que le ofrece el Instituto Tecnológico de
            Ocotlán. Estamos seguros de que su dedicación y esfuerzo le llevarán a alcanzar grandes logros en su
            trayectoria académica y más allá.</p>
        <p class="text-dark" style="text-align: justify;">Una vez más, enhorabuena por dar este importante paso en
            su camino hacia la excelencia educativa. Le deseamos todo el éxito en su proceso de admisión y esperamos
            verle prosperar en esta nueva etapa de su vida.</p>
    </div>

    <div class="pt-4">
        <h5 class="pb-2">ATENTAMENTE</h5>
        <h6 class="pb-2">Excelencia en Educación Tecnológica</h6>
        <h6 class="fw-lighter">"Unidos con Espiritu de Triunfo y Tecnológica Propia"</h6>
    </div>
    <div class="text-end">
        <img src="Vendor/Template/assets/images/brands/qr.png" class="img-fluid w-auto p-1" style="height: 130px;">
        <h6 class="pt-2">Únete al grupo de WhatsApp</h6>
    </div>


    <img src="Vendor/Template/assets/images/imagenescorrecaminos/footer.png" class="h-auto w-100 pt-4">

</body>

</html>