<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="Vendor/Template/assets/css/hope-ui.css" />

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
    </style>

</head>

<body class="container-fluid p-0 m-0 w-100" style="font-family: Inter;">

    <div class=" d-flex">

        <img src="Vendor/Template/assets/images/imagenescorrecaminos/tecnologiconacionalmexico.png" class="img-fluid"
            style="height: 90px; width: 270px; margin-top: 15px;">

        <img src="Vendor/Template/assets/images/imagenescorrecaminos/logosecretariaeducacionpublica.png"
            class="img-fluid" style="height: 100px; width: 290px; margin-left: 20px;">

        <img src="Vendor/Template/assets/images/imagenescorrecaminos/logotecocotlan.png" class="img-fluid"
            style="height: 100px; width: 100px; margin-left: 5px;">

    </div>

    <h6 class="text-end pt-2">Instituto Tecnológico de Ocotlán</h6>

    <h3 class="text-center pt-4"><strong> RECIBO </strong></h3>

    <div class="container my-3">
        <div class="row">
            <div class="col text-center">
                <img src="Vendor/Template/assets/images/brands/banamex.png" class="img-fluid w-50 mx-auto">
            </div>
        </div>
    </div>


    <table class="table pt-3">
        <tr>
            <td class="w-75">
                <div class="text-dark">
                    <strong>Banco:</strong>
                    <span class="text-gray ps-1">{{banco}}</span>
                </div>

                <div class="text-dark mt-2">
                    <strong>Número de sucursal:</strong>
                    <span class="text-gray ps-1">{{numSucursal}}</span>
                </div>

                <div class="text-dark mt-2">
                    <strong>Cuenta:</strong>
                    <span class="text-gray ps-1">{{numCuenta}}</span>
                </div>

                <div class="text-dark mt-2">
                    <strong>Referencia bancaria:</strong>
                    <span class="text-gray ps-1"> {{refBancaria}} </span>
                </div>

                <div class="text-dark mt-2">
                    <strong>Monto a pagar:</strong>
                    <span class="text-gray ps-1"> {{montoPagar}} </span>
                </div>
            </td>
        </tr>
    </table>

    <div class="pt-3">
        <p class="text-dark" style="text-align: justify;">Una vez que hayas completado el pago, dirígite a las oficinas
            de recursos
            financieros para realizar el canje del comprobante. El pago se reflejará en un plazo de 3 días hábiles.</p>
    </div>

    <div class="pt-4">
        <h5 class="pb-2">ATENTAMENTE</h5>
        <h6 class="pb-2">Excelencia en Educación Tecnológica</h6>
        <h6 class="fw-lighter">"Unidos con Espiritu de Triunfo y Tecnológica Propia"</h6>
    </div>
    <div class="pt-4 pb-5 mb-5">
        <h6 class="fw-lighter"><strong>Si tienes alguna duda escríbenos:</strong></h6>
        <h6 class="fw-lighter">Correo: tecocotlan@itocotlan.org.mx</h6>
        <h6 class="fw-lighter">WhatsApp: 56-33-88-9253</h6>
    </div>

    <img src="Vendor/Template/assets/images/imagenescorrecaminos/footer.png" class="mt-5 pt-5 h-auto w-100 pt-5">

</body>

</html>